:root {
  --background: #0b1120;
  --surface: #111827;
  --card: #172033;
  --border: #263247;
  --primary: #6366f1;
  --success: #22c55e;
  --purple: #a855f7;
  --danger: #ef4444;
  --danger-hover: #eb3535;
  --warning: #f59e0b;
  --text: #f8fafc;
  --secondary: #94a3b8;
  --muted: #64748b;

  --primary2: #3b3c76;
  --success2: #2e985569;
  --purple2: #5f3b8086;
}
